/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Prosto+One);

body {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
}

table td{
	font-family: 'Open Sans', sans-serif;
}


.header{
	font-size: 1.1em;
	margin: 0px;
  padding: 0px;
}

.header_wrapper {
	margin: 0px;
	padding: 0px;
}

.main_content{
  display: -moz-box;
  display: -webkit-box;	
}

.gwt-Image-Logo {
	width: 35px;
	margin: 5px;
}

.login_title{
  font-size: 36px;
}

.vis {
	font-size: 8pt;
}

h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	text-align: center;
}

